{% extends 'index.html' %}

{% block title %}My Projects - Gonzalo's Portfolio{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">My Projects</h1>

    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p><strong>Technologies:</strong> {{ project.technologies }}</p>
                    <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">View Project</a>
                    <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
                    <p class="text-muted">Created on: {{ project.date }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>There are no available projects.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
